nav a{
    text-decoration: underline;
    color: grey;
    transition: 1s;
}

nav a :hover{
    color: azure;
    background-color: rgb(122, 226, 43);
    font-weight: bolder;
    font-style: unset;
}
.div{
    
}
